## Fehlerbehandlung mit Pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("Data/PopulationDataFastFertig.csv", thousands=",", delimiter=",", decimal=".", index_col="Country")

In [3]:
data

,Pop,YearlyChange,NetChange,Density,Area,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

### Probleme

- NaN, N.A.
- Prozentzeichen
- Datentypen (object -> int, int32 -> int8)

In [4]:
data.isnull()

,Pop,YearlyChange,NetChange,Density,Area,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,False,False,False,False,False,False,False,False,False,False
India,False,False,False,False,False,False,False,False,False,False
United States,False,False,False,False,False,False,False,False,False,False
Indonesia,False,False,False,False,False,False,False,False,False,False
Pakistan,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
Montserrat,False,False,False,False,False,True,False,False,False,False
Falkland Islands,False,False,False,False,False,True,False,False,False,False
Niue,False,False,False,False,False,True,False,False,False,False
Tokelau,False,False,False,False,False,True,False,False,False,False
Vatican State,False,False,False,False,False,True,False,False,False,False

Leere Zellen auffÃ¼llen mittels ffill (Forwards-Fill) oder bfill (Backwards-Fill)

In [5]:
data.ffill(inplace=True)

In [6]:
data

,Pop,YearlyChange,NetChange,Density,Area,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    int64
 1   YearlyChange  235 non-null    object
 2   NetChange     235 non-null    int64
 3   Density       235 non-null    int64
 4   Area          235 non-null    int64
 5   Migrants      235 non-null    float64
 6   Fert.Rate     235 non-null    object
 7   Med.Age       235 non-null    object
 8   UrbanPop      235 non-null    object
 9   WorldShare    235 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 20.2+ KB

### N.A.

In [8]:
data["Fert.Rate"] == "N.A."

Country
China               False
India               False
United States       False
Indonesia           False
Pakistan            False
                    ...
Montserrat           True
Falkland Islands     True
Niue                 True
Tokelau              True
Vatican State        True
Name: Fert.Rate, Length: 235, dtype: bool

In [9]:
data[data["Fert.Rate"] == "N.A."]

,Pop,YearlyChange,NetChange,Density,Area,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
Isle of Man,85033,0.53 %,449,149,570,0.0,N.A.,N.A.,53 %,0.00 %
Andorra,77265,0.16 %,123,164,470,0.0,N.A.,N.A.,88 %,0.00 %
Dominica,71986,0.25 %,178,96,750,0.0,N.A.,N.A.,74 %,0.00 %
Cayman Islands,65722,1.19 %,774,274,240,0.0,N.A.,N.A.,97 %,0.00 %
Bermuda,62278,-0.36 %,-228,1246,50,0.0,N.A.,N.A.,97 %,0.00 %
Marshall Islands,59190,0.68 %,399,329,180,0.0,N.A.,N.A.,70 %,0.00 %
Northern Mariana Islands,57559,0.60 %,343,125,460,0.0,N.A.,N.A.,88 %,0.00 %
Greenland,56770,0.17 %,98,0,410450,0.0,N.A.,N.A.,87 %,0.00 %
American Samoa,55191,-0.22 %,-121,276,200,0.0,N.A.,N.A.,88 %,0.00 %
Saint Kitts & Nevis,53199,0.71 %,376,205,260,0.0,N.A.,N.A.,33 %,0.00 %
Faeroe Islands,48863,0.38 %,185,35,1396,0.0,N.A.,N.A.,43 %,0.00 %
Sint Maarten,42876,1.15 %,488,1261,34,0.0,N.A.,N.A.,96 %,0.00 %
Monaco,39242,0.71 %,278,26337,1,0.0,N.A.,N.A.,N.A.,0.00 %
Turks and Caicos,38717,1.38 %,526,41,950,0.0,N.A.,N.A.,89 %,0.00 %
Saint Martin,38666,1.75 %,664,730,53,0.0,N.A.,N.A.,0 %,0.00 %
Liechtenstein,38128,0.29 %,109,238,160,0.0,N.A.,N.A.,15 %,0.00 %
San Marino,33931,0.21 %,71,566,60,0.0,N.A.,N.A.,97 %,0.00 %
Gibraltar,33691,-0.03 %,-10,3369,10,0.0,N.A.,N.A.,N.A.,0.00 %
British Virgin Islands,30231,0.67 %,201,202,150,0.0,N.A.,N.A.,52 %,0.00 %
Caribbean Netherlands,26223,0.94 %,244,80,328,0.0,N.A.,N.A.,75 %,0.00 %
Palau,18094,0.48 %,86,39,460,0.0,N.A.,N.A.,N.A.,0.00 %
Cook Islands,17564,0.09 %,16,73,240,0.0,N.A.,N.A.,75 %,0.00 %
Anguilla,15003,0.90 %,134,167,90,0.0,N.A.,N.A.,N.A.,0.00 %
Tuvalu,11792,1.25 %,146,393,30,0.0,N.A.,N.A.,62 %,0.00 %
Wallis & Futuna,11239,-1.69 %,-193,80,140,0.0,N.A.,N.A.,0 %,0.00 %
Nauru,10824,0.63 %,68,541,20,0.0,N.A.,N.A.,N.A.,0.00 %
Saint Barthelemy,9877,0.30 %,30,470,21,0.0,N.A.,N.A.,0 %,0.00 %
Saint Helena,6077,0.30 %,18,16,390,0.0,N.A.,N.A.,27 %,0.00 %
Saint Pierre & Miquelon,5794,-0.48 %,-28,25,230,0.0,N.A.,N.A.,100 %,0.00 %
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

In [10]:
rows = data[data["Fert.Rate"] == "N.A."]  # Hier wird eine Kopie der Daten erzeugt, wenn diese verÃ¤ndert werden, bleiben die originalen Daten unverÃ¤ndert

In [11]:
rows.index  # Alle Fehlerhaften Zeilen

Index(['Isle of Man', 'Andorra', 'Dominica', 'Cayman Islands', 'Bermuda',
       'Marshall Islands', 'Northern Mariana Islands', 'Greenland',
       'American Samoa', 'Saint Kitts & Nevis', 'Faeroe Islands',
       'Sint Maarten', 'Monaco', 'Turks and Caicos', 'Saint Martin',
       'Liechtenstein', 'San Marino', 'Gibraltar', 'British Virgin Islands',
       'Caribbean Netherlands', 'Palau', 'Cook Islands', 'Anguilla', 'Tuvalu',
       'Wallis & Futuna', 'Nauru', 'Saint Barthelemy', 'Saint Helena',
       'Saint Pierre & Miquelon', 'Montserrat', 'Falkland Islands', 'Niue',
       'Tokelau', 'Vatican State'],
      dtype='object', name='Country')

In [12]:
data.loc[rows.index, "Fert.Rate"] = 0  # Hier kann ein Wert in jede Zelle eingetragen werden

In [13]:
data

,Pop,YearlyChange,NetChange,Density,Area,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,0,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,0,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,0,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,0,N.A.,N.A.,0.00 %

### Funktion definieren fÃ¼r N.A.

In [14]:
def fixNA(column: str, newValue):
    rows = data[data[column] == "N.A."]
    data.loc[rows.index, column] = newValue

Funktion auf jede Spalte anwenden

In [15]:
for column in data.columns:
    fixNA(column, 0)

In [16]:
data

,Pop,YearlyChange,NetChange,Density,Area,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,0,0,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,0,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,0,0,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,0,0,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,0,0,0,0.00 %

### Funktion definieren fÃ¼r %

In [17]:
data["YearlyChange"].replace(" %", "", regex=True)  # regex=True um Ersetzen zu aktivieren

Country
China               0.39
India               0.99
United States       0.59
Indonesia           1.07
Pakistan            2.00
                    ...
Montserrat          0.06
Falkland Islands    3.05
Niue                0.68
Tokelau             1.27
Vatican State       0.25
Name: YearlyChange, Length: 235, dtype: object

In [18]:
def fixPct(column: str):
    data[column] = data[column].replace(" %", "", regex=True)

In [19]:
for column in data.columns:
    fixPct(column)

In [20]:
data

,Pop,YearlyChange,NetChange,Density,Area,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38,61,18.47
India,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28,35,17.70
United States,331002651,0.59,1937734,36,9147420,954806.0,1.8,38,83,4.25
Indonesia,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30,56,3.51
Pakistan,220892340,2.00,4327022,287,770880,-233379.0,3.6,23,35,2.83
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0.0,0,0,10,0.00
Falkland Islands,3480,3.05,103,0,12170,0.0,0,0,66,0.00
Niue,1626,0.68,11,6,260,0.0,0,0,46,0.00
Tokelau,1357,1.27,17,136,10,0.0,0,0,0,0.00
Vatican State,801,0.25,2,2003,0,0.0,0,0,0,0.00

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    int64
 1   YearlyChange  235 non-null    object
 2   NetChange     235 non-null    int64
 3   Density       235 non-null    int64
 4   Area          235 non-null    int64
 5   Migrants      235 non-null    float64
 6   Fert.Rate     235 non-null    object
 7   Med.Age       235 non-null    object
 8   UrbanPop      235 non-null    object
 9   WorldShare    235 non-null    object
dtypes: float64(1), int64(4), object(5)
memory usage: 28.3+ KB

### Datentypen

Automatisch: convert_dtypes() (inkonsistent)

Manuell: astype(Typ)

Speicherverbrauch Anfang: 29.4KB

In [22]:
data.convert_dtypes().info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    Int64
 1   YearlyChange  235 non-null    string
 2   NetChange     235 non-null    Int64
 3   Density       235 non-null    Int64
 4   Area          235 non-null    Int64
 5   Migrants      235 non-null    Int64
 6   Fert.Rate     235 non-null    object
 7   Med.Age       235 non-null    object
 8   UrbanPop      235 non-null    object
 9   WorldShare    235 non-null    string
dtypes: Int64(5), object(3), string(2)
memory usage: 29.4+ KB

In [23]:
data["Pop"] = data["Pop"].astype(np.int32)

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    int32
 1   YearlyChange  235 non-null    object
 2   NetChange     235 non-null    int64
 3   Density       235 non-null    int64
 4   Area          235 non-null    int64
 5   Migrants      235 non-null    float64
 6   Fert.Rate     235 non-null    object
 7   Med.Age       235 non-null    object
 8   UrbanPop      235 non-null    object
 9   WorldShare    235 non-null    object
dtypes: float64(1), int32(1), int64(3), object(5)
memory usage: 27.4+ KB

In [25]:
def fixType(column: str, t):
    data[column] = data[column].astype(t)

In [26]:
fixType("YearlyChange", np.float16)

In [27]:
fixType("NetChange", np.int32)

In [28]:
fixType("Density", np.int16)

In [34]:
fixType("Density", np.int32)

In [35]:
fixType("Migrants", np.float32)

In [36]:
fixType("Fert.Rate", np.float16)

In [37]:
fixType("Med.Age", np.int8)

In [39]:
fixType("UrbanPop", np.int8)

In [40]:
fixType("WorldShare", np.float16)

In [41]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Pop           235 non-null    int32
 1   YearlyChange  235 non-null    float16
 2   NetChange     235 non-null    int32
 3   Density       235 non-null    int32
 4   Area          235 non-null    int64
 5   Migrants      235 non-null    float32
 6   Fert.Rate     235 non-null    float16
 7   Med.Age       235 non-null    int8
 8   UrbanPop      235 non-null    int8
 9   WorldShare    235 non-null    float16
dtypes: float16(3), float32(1), int32(3), int64(1), int8(2)
memory usage: 17.3+ KB

In [42]:
data

,Pop,YearlyChange,NetChange,Density,Area,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare
Country,,,,,,,,,,
China,1439323776,0.389893,5540090,153,9388211,-348399.0,1.700195,38,61,18.468750
India,1380004385,0.990234,13586631,464,2973190,-532687.0,2.199219,28,35,17.703125
United States,331002651,0.589844,1937734,36,9147420,954806.0,1.799805,38,83,4.250000
Indonesia,273523615,1.070312,2898047,151,1811570,-98955.0,2.300781,30,56,3.509766
Pakistan,220892340,2.000000,4327022,287,770880,-233379.0,3.599609,23,35,2.830078
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.059998,3,50,100,0.0,0.000000,0,10,0.000000
Falkland Islands,3480,3.050781,103,0,12170,0.0,0.000000,0,66,0.000000
Niue,1626,0.680176,11,6,260,0.0,0.000000,0,46,0.000000
Tokelau,1357,1.269531,17,136,10,0.0,0.000000,0,0,0.000000
Vatican State,801,0.250000,2,2003,0,0.0,0.000000,0,0,0.000000

Speicherbedarf nach Ã„nderungen: 17.3KB

In [49]:
100 * (1-(17.3/29.4))

41.15646258503401

### Neue Spalten hinzufÃ¼gen

In [54]:
data["PopArea"] = data["Pop"] / data["Area"]

In [55]:
data

,Pop,YearlyChange,NetChange,Density,Area,Migrants,Fert.Rate,Med.Age,UrbanPop,WorldShare,PopArea
Country,,,,,,,,,,,
China,1439323776,0.389893,5540090,153,9388211,-348399.0,1.700195,38,61,18.468750,153.311827
India,1380004385,0.990234,13586631,464,2973190,-532687.0,2.199219,28,35,17.703125,464.149410
United States,331002651,0.589844,1937734,36,9147420,954806.0,1.799805,38,83,4.250000,36.185356
Indonesia,273523615,1.070312,2898047,151,1811570,-98955.0,2.300781,30,56,3.509766,150.987053
Pakistan,220892340,2.000000,4327022,287,770880,-233379.0,3.599609,23,35,2.830078,286.545688
...,...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.059998,3,50,100,0.0,0.000000,0,10,0.000000,49.920000
Falkland Islands,3480,3.050781,103,0,12170,0.0,0.000000,0,66,0.000000,0.285949
Niue,1626,0.680176,11,6,260,0.0,0.000000,0,46,0.000000,6.253846
Tokelau,1357,1.269531,17,136,10,0.0,0.000000,0,0,0.000000,135.700000
Vatican State,801,0.250000,2,2003,0,0.0,0.000000,0,0,0.000000,inf

In [56]:
data.to_csv("Data/PopulationDataFertig.csv")